@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Parisienne&display=swap');

body {
  background-color: #ddd8d6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

header {
  background-color: #fff;
  box-shadow: 0 0 20px #464545;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 6px 8px -6px black;
}

section {
  background-color: #fff;
}

nav {
  display: inline;
  line-height: 75px;
  margin: 0;
}

#menu {
  text-align: center;
  font-size: 120%;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 400;
}

#logo {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 350%;
  color: black;
  margin-bottom: 0;
  line-height: 75px;
  text-shadow: 0 1px 1px black;
}

#menu li {
  list-style-type: none;
  display: inline;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

li a:hover {
  text-decoration: underline;
}

#hero-image {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-image: url(../images/header_img2.jpg);
  background-repeat: repeat-x;
  background-color: #fff;
}

.container-home {
  width: 100%;
  height: 950px;
  background-image: url(../images/index_img.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-color: #fff;
  background-position: top center;
}

.qoute,
.qoute>h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px black;
  font-weight: 300;
}

.qoute2,
.qoute2>h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px black;
  font-weight: 300;
}

.qoute {
  padding-top: 150px;
  font-size: 100%;
  width: 450px;
  height: 800px;
  text-align: center;
  background-color: rgb(157, 16, 61, .3);
  float: left;
  letter-spacing: 8px;
}

.qoute2 {
  font-size: 100%;
  width: 450px;
  height: 800px;
  text-align: center;
  background-color: rgb(157, 16, 61, .3);
  display: inline;
  float: right;
  padding-top: 150px;
  padding-left: 0;
  letter-spacing: 8px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(221, 216, 214);
  text-align: left;
  display: inline;
  padding: 15px 0 15px 0;
  border-top: rgba(0, 0, 0, 0.646) outset 1px;
}

footer>ul {
  display: inline;
}

#left-menu li {
  list-style: none;
  font-size: 18px;
  display: inline;
}

#right-menu li {
  list-style: none;
  font-size: 20px;
  display: inline;
}

#paintings {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  padding-bottom: 150px;
  background-color: #ddd8d6;
}

#paintings>img {
  width: 100%;
}

div .container {
  width: 100%;
  height: auto;
  float: left;
  background-color: #ddd8d6;
}

.image img {
  width: 35%;
  height: auto;
  float: left;
  box-shadow: 5px 10px 18px #464545;
  margin-left: 10%;
  margin-top: 20px;
}

.image2 img {
  width: 35%;
  height: auto;
  display: inline;
  float: right;
  margin-right: 10%;
  margin-top: 20px;
  box-shadow: 5px 10px 18px #464545;
}

div .about-right {
  background-color: #fff;
  width: 35%;
  float: right;
  margin-right: 10%;
  margin-top: 20px;
  box-shadow: 5px 10px 18px #464545;
}

div .about-left {
  background-color: #fff;
  width: 35%;
  float: left;
  margin-left: 10%;
  margin-top: 20px;
  box-shadow: 5px 10px 18px #464545;
  margin-bottom: 150px;
}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  font-size: 120%;
  font-weight: 400;
}

.about-left p,
.about-right p {
  text-align: justify;
  padding: 10px 20px 10px 20px;
  letter-spacing: 1px;
}

.container a:link {
  font-size: 80%;
  text-align: center;
}

.container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  #hero-image {
    height: 300px;
  }

  .qoute {
    width: 300px;
    font-size: 90%;
  }

  .qoute2 {
    width: 300px;
    font-size: 90%;
  }

  #paintings {
    column-count: 3;
  }

  .image img {
    width: 45%;
    margin-left: 2%;
  }

  .image2 img {
    width: 45%;
    margin-right: 2%;
  }

  div .about-right {
    width: 45%;
    margin-right: 2%;
  }

  div .about-left {
    width: 45%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 750px) {
  #logo {
    line-height: 50px;
    font-size: 250%;
    margin-top: 30px;
  }

  nav #menu {
    line-height: 50px;
    font-size: 100%;
  }

  .qoute {
    width: 100%;
    height: 45%;
    font-size: 80%;
    padding-top: 75px;
  }

  .qoute2 {
    width: 100%;
    height: 50%;
    font-size: 80%;
    padding-top: 25px;
  }

  #hero-image {
    height: 250px;
  }

  #menu li {
    padding: 15px;
  }

  #paintings {
    column-count: 2;
  }

  .image img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .image2 img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  div .about-right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  div .about-left {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #right-menu li,
  #left-menu li {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  #hero-image {
    height: 200px;
  }

  nav #menu {
    line-height: 15px;
  }

  #menu li {
    display: list-item;
    padding: 15px;
  }

  #logo {
    line-height: 30px;
    font-size: 200%;
    margin-top: 0;
  }

  .qoute {
    font-size: 65%;
    padding-top: 75px;
  }

  .qoute2 {
    font-size: 65%;
    padding-top: 0;
  }

  #hero-image {
    height: 200px;
  }

  #paintings {
    column-count: 1;
  }

  .about-left p,
  .about-right p {
    font-size: 80%;
    text-align: center;
  }

  .container h2 {
    font-size: 90%;
  }

  #right-menu li,
  #left-menu li {
    font-size: 10px;
  }
}