@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Parisienne&display=swap');

body {
  background-color: #ddd8d6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0;
}

/* logo and navigation */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

header {
  background-color: #fff;
}

section {
  background-color: #fff;
}

nav {
  display: inline;
  line-height: 75px;
  margin: 0;
}

#menu {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 0;
}

#logo {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 350%;
  color: black;
  margin-bottom: 0;
  line-height: 75px;
}


#menu li {
  list-style-type: none;
  display: inline;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

li a:hover {
  text-decoration: underline;
}

/* hero image */

#hero-image {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-image: url(../images/header_img2.jpg);
  background-repeat: repeat-x;
  background-color: #fff;
}

/* home page content */
.container-home {
  width: 100%;
  height: 900px;
  background-image: url(../images/index_img.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-color: #fff;
  background-position: top center;
  display: inline-flexbox;
}

.qoute,
h2 {
  color: #fff;
  text-transform: uppercase;
}

.qoute2,
h2 {
  color: #fff;
  text-transform: uppercase;
}

.qoute {
  padding-top: 150px;
  font-size: 100%;
  width: 450px;
  height: 800px;
  text-align: center;
  background-color: rgb(157, 16, 61, .3);
  float: left;
  padding: o;
  letter-spacing: 8px;

}

.qoute2 {
  font-size: 100%;
  width: 450px;
  height: 800px;
  text-align: center;
  background-color: rgb(157, 16, 61, .3);
  display: inline;
  float: right;
  padding-top: 150px;
  padding-left: 0;
  letter-spacing: 8px;

}

/*.image-home {
  width: 100%;
  background-color: #fff;
  text-align: center;
}*/



/* links listed in footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(221, 216, 214);
  text-align: center;
  display: inline;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: black solid 2px;
}

footer>ul {
  display: inline;
}

#left-menu li {
  list-style: none;
  font-size: 18px;
  margin-left: 10px;
  display: inline;
}

#right-menu li {
  list-style: none;
  font-size: 18px;
  margin-left: 20px;
  display: inline;
}

/* Gallery */

#paintings {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#paintings>img {
  width: 100%;
}

/* about information*/

section .container {
  display: border-box;
  width: 100%;
  float: left;
  height: 1200px;
}

.text div {
  width: 30%;
  height: 1200px;
  float: left;
}

.image img {
  width: 30%;
  height: auto;
  float: left;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image2 img {
  width: 30%;
  height: auto;
  display: inline;
  float: right;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container h1 {
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.container p {
  text-align: justify;
  font-size: 120%;
  padding-left: 35%;
  padding-right: 35%;
}

.container a:hover {
  text-decoration: underline;
}

/* Media screen*/

@media screen and (max-width: 1100px) {

#hero-image {
  height: 300px;
}

  .qoute {
    width: 300px;
    font-size: 90%;
  }

  .qoute2 {
    width: 300px;
    font-size: 90%;
  }
}

@media screen and (max-width: 700px) {
  
#logo {
  line-height: 50px;
  font-size: 250%;
  margin-top: 30px;
}

nav #menu {
  line-height: 50px;
  font-size: 100%;
}
.qoute {
  width: 100%;
  height: 45%;
  font-size: 80%;
  padding-top: 50px;
}

.qoute2 {
  width: 100%;
  height: 50%;
  font-size: 80%;
  padding-top: 50px;
}
#hero-image {
  height: 250px;
}
#menu li {
  padding: 10px;
}
}

@media screen and (max-width: 450px) {
  
  #hero-image {
    height: 200px;
  }
  nav #menu {
    line-height: 20px;
  }
  #menu li {
    display: list-item;
    padding: 10px;
  }
  #logo {
    line-height: 30px;
    font-size: 200%;
    margin-top: 0;
  }
  .qoute, .qoute2 {
    font-size: 60%;
    padding-top: 30px;
}
#hero-image {
  height: 200px;
}
}